<div class="order_system">

<h3>Hinnat</h3>

<dl>
	<dt>Liput</dt>
	<dd>%price% € / kpl</dd>
	<dt>Postikulut</dt>
	<dd>%postage% € / tilaus</dd>
</dl>

<p>
	Liput on maksettava pankkisiirrolla kahden viikon kuluessa tilauksen
	tekemisestä. Tilaus postitetaan 2 viikon sisällä maksusta.
</p>

<h3>Tilaa</h3>

<form class="order" method="post" action="">
	<span class="field">%quantity%</span><br />
	<span class="field">%name%</span><br />
	<span class="field">%email%</span><br />
	<span class="field">%street%</span><br />
	<span class="field">%postcode%</span><br />
	<span class="field">%postoffice%</span><br />
	%submit%
</form>

</div>
